@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #a1a1aa #f1f5f9;
  }

  .dark * {
    scrollbar-color: #737373 #262626;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    @apply bg-white;
    @apply text-sm;
    /* @apply dark:bg-black; */
  }

  #root.app {
    height: 100%;
    width: 100%;
  }
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
  .bg-gradient-conic {
    background-image: conic-gradient(
      from 180deg at 50% 50%,
      var(--tw-gradient-stops)
    );
  }
}
